html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    /*global variable*/
    --primary-color-vdb: hsl(243, 87%, 12%);
    --primary-color-db: hsl(238, 22%, 44%);
    --accent-color-bb: hsl(224, 93%, 58%);
    --accent-color-mc: hsl(170, 45%, 43%);
    --neutral-color-lgb: hsl(240, 75%, 98%);
    --neutral-color-lg: hsl(0, 0%, 75%);

    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

* *::before *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.wrapper {
    margin-top: 63px;
    margin-left: 80px;
    margin-right: 80px;
}

.main-h1 {
    font-family: var(--primary-font);
    color: var(--primary-color-vdb);
    font-size: 3.6rem;
    line-height: 5.2rem;
}

.main-p {
    color: var(--primary-color-vdb);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;

}

.white {
    color: #ffffff;
}



.main-button {
    background-color: var(--accent-color-bb);
    -webkit-box-shadow: 4px 5px 9px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 5px 9px -2px rgba(0,0,0,0.3);
    box-shadow: 4px 5px 9px -2px rgba(0,0,0,0.3);
    border: none;
    border-radius: 2px;
    color: white;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.3rem;
}


